body {
    background-position: center center;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: black;
    background-image: url('https://images.unsplash.com/photo-1529528744093-6f8abeee511d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-attachment: fixed;
}
.weather_container{
    font-family: 'Roboto', sans-serif;
}

.weather-nav {
    margin: 0 auto;
}

.weather-box {    
    margin-left: auto;
    margin-right: auto;
    left:0;
    right: 0;
    text-align: center;
    width: 75%;
}

.search-form {
    widows: 25%;
}
.form-items {
    display: flex;
    justify-content: center;
}

.degrees {
font-size: 4.5rem;
font-family: 'Roboto';
}
.degrees_location{
    font-family: 'Roboto';
    text-shadow: lightslategray;
}
.side_menu{
    width: 30%;
}
::placeholder{
    color: white;
}

@media (min-width:710px) {
   
}